*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color:  rgb(238, 238, 238);
}

main{
    margin: 5%;

    .text{
        margin-left: 6%;
        margin-bottom: 2%;
        display: flex;

    }

    .container-candidatos{
        color: white;
        display: flex;
        flex-wrap: wrap;
        gap: 2%;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 60vh;
    }
    .candidatos{
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: left;
        padding-left: 1%;
        align-items: center;
        width: 50vh;
        height: 25vh;
        background-color:  rgb(9, 0, 107);
        border-radius: 10px;

        .foto{
            overflow: hidden;
            width: 20vh;
            height: 20vh;
            border-radius: 100%;
        }

        .outro-foto{
            width: 20vh;
        }

        .text{
            display: grid;
            grid-template-columns: auto;
            padding-left: 10%;
            line-height: 150%;
            h5{
                font-size: 1.6rem;
            }
        }
    }

    .vice{
        position: absolute;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        overflow: hidden;

        margin: 8% 0% 0% 15%;
        h5{
            margin-right: 1vh;
        }
        img{
            width: 7vh;
            height: 7vh;
            border-radius: 100%;
        }
    }

    .baixo{
        display: flex;
        justify-content: center;
        padding-top: 2%;
    }
    .botao{
        position: relative;
        display: inline-block;

        border-radius: 5px;
        border: none;

        margin-top: 2%;
        width: 30vh;
        height: 8vh;

        background-color: rgb(9, 0, 107);

        font-weight: 600;
        color: aliceblue;
        font-size: 20px;

        cursor: pointer;
        overflow: hidden;
        transition: color 0.4s ease;  
    }

    .botao::before{
        content: '';
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: rgb(48, 39, 140);
        transition: left 0.4s ease;
    }

    .botao:hover::before{
        left: 0;
    }
}

@media only screen and (max-width: 1400px){ 
    main{
        .container-candidatos{
            .candidatos{
                .text{
                    h5{
                        font-size: 1rem;
                    }
                    p{
                        font-size: 0.9em;
                    }
                }
            }
        }
    }
}

/*para telefones*/
@media only screen and (max-width: 800px) {
    main{
        justify-content: center;
        height: 95vh;
        
        h1{
            font-size: 20px;
        }

        .container-candidatos{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            .candidatos{
                height: 25vh;
                display: grid;
                grid-template-columns: auto auto;
                align-items: center;
                justify-content: center;
                .foto{
                    width: 15vh;
                    height: 15vh;
                    display: grid;
                    justify-content: center;
                    align-items: center;

                    .outro-foto{
                        width: 15vh;
                    }
                }
                .text{
                    display: grid;
                    grid-template-columns: auto;
                    justify-content: flex-start;
                    width: 50vw;

                    h5{
                        font-size: 20px;
                    }
                }
                .vice{
                    margin-top: 15vh;
                    margin-left: 55vw;
                }
            }
        }

        .baixo{
            margin-top: 97vh;
            padding-bottom: 3vh;
            
            .botao{
                width: 90vw;
            }
        }
    }
}