*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    background-color: rgb(238, 238, 238);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.urna{
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    margin: auto;

    display: inherit;
    align-items: center;
    
    width: 150vh;
    height: 80vh;
    border-radius: 25px;
    
    background-color: #B3B3B3;
    box-shadow: 10px 10px 25px 5px rgba(0, 0, 0, 0.426);
    
    .tela{     
        width: 80vh;
        height: 60vh;    
        margin: 7%;
        border-radius: 20px;

        display: inherit;
        align-items: center;
        justify-content: center;

        background-color: rgb(38, 38, 38);

        .tela2{
            width: 70vh;
            height: 50vh;
            border-radius: 15px;
            background-color: #ffffff;

            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;
            gap: 5%;

            .textarea{
                width: 30vh;
                height: 15vh;
                border: solid black;
                border-radius: 10px;
                padding: .5rem;
                resize: none;
                font-size: 90px;
            }
        }
    }

    .botoes{
        display: grid;
        justify-content: center;
    }
    
    .cabecalho{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        width: 40vh;
        height: 18vh;
        border: 3px rgb(155, 155, 155) solid;
        border-radius: 10px;
        margin-bottom: 30%;
        padding-left: 7%;

        p{
            padding: 4%;
            font-size: 30px;
            font-weight: 800;
            color: rgb(101, 101, 101);
        }
    }

    .botoes-nmr{
        display: grid;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: auto auto auto;
        margin-left: 2%;
        gap: 10px;
        
        .nmr{
            width: 10vh;
            height: 5vh;

            background-color: rgb(38, 38, 38);
            border-radius: 5px;
            cursor: pointer;
            border-style: none;
            
            color: white;
            font-size: 25px;
        }

        .nmr:active{
            transform: translateY(2px);
        }
    }

    .botoes-confirma{
        display: grid;
        align-items: center;
        grid-template-rows: auto;
        grid-template-columns: auto auto auto;
        margin-left: 2%;
        gap: 10px;
        

        .botao{
            margin-top: 20%;
            border-style: none;
            border-radius: 5px;
            cursor: pointer;
            
            height: 5vh;
            width: 10vh;
        }

        .branco{
            background-color: white;
            box-shadow: 3px 3px 1px rgb(141, 140, 140);
        }
        .corrige{
            background-color: rgb(255, 0, 0);
            box-shadow: 3px 3px 1px rgb(157, 0, 0);
        }
        .confirma{
            background-color: rgb(98, 255, 0);
            box-shadow: 3px 3px 1px rgb(67, 172, 2);
        }
        .botao:active{
            transform: translateY(2px);
        }
    }
}

.baixo2{
    margin-top: 50%;
    margin-bottom: 5%;
    .avancar{
        font-size: 20px;
    
       .botao{
            position: relative;
            display: inline-block;
    
            border-radius: 5px;
            border: none;
    
            margin-top: 2%;
            width: 40vh;
            height: 8vh;
    
            background-color: rgb(9, 0, 107);
    
            font-weight: 600;
            color: aliceblue;
            font-size: 20px;
    
            cursor: pointer;
            overflow: hidden;
            transition: color 0.4s ease;  
        }
    
        .botao::before{
            content: '';
            position: absolute;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            background-color: rgb(48, 39, 140);
            transition: left 0.4s ease;
        }
    
        .botao:hover::before{
            left: 0;
        }
    }
}


@media only screen and (max-width: 800px) {
    body{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    main{
        height: 100vh;
        border: black solid;

    }
    .urna {
        width: 80vw;
        height: 75vh;
        flex-direction: column;
        padding: 5%;
        margin-bottom: 45%;


        .tela {
            width: 90%;
            height: auto;
            margin: 5%;
            
            .tela2 {
                width: 100%;
                height: auto;
                flex-wrap: wrap;
                gap: 2%;
                
                .textarea {
                    width: 100%;
                    height: auto;
                    font-size: 50px;
                }
            }
        }

        .cabecalho {
           display: none;
        }

        .botoes-nmr, .botoes-confirma {
            margin: 5% auto;
            grid-template-columns: repeat(3, 1fr);
            gap: 5px;


            .nmr, .botao {
                width: 10vh;
                height: 6vh;
                font-size: 18px;
            }

            .botao {

                width: 10vh;
                font-size: 10px;
            }
        }

    }

    .baixo2{
        display: flex;
        flex-wrap: wrap;
        margin-top: 165%;
        margin-left: 10%;
        .avancar{
            .botao{
                width: 80vw;
                height: 7vh;
            }
        }
    }
}
